DB_HOST=localhost
DB_NAME=master_data_sekolah
DB_USER=root
DB_PASS=
APP_KEY=default_secret_key_123456789012

# SMTP Configuration (For Email Verification / Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email_anda@gmail.com
SMTP_PASS=app_password_16_karakter
SMTP_SECURE=tls
